{
  "models": [
    {
      "name": "OpenAI_GPT_4o_Mini",
      "api_key": "YOUR_OPENAI_API_KEY",
      "organization_id": "YOUR_OPENAI_ORG_ID",
      "model": "gpt-4o-mini",
      "tokenPrice": 0,
      "config": {
        "temperature": 1.0,
        "frequency_penalty": 0,
        "presence_penalty": 0,
        "max_tokens": 2048,
        "n": 1
      }
    },
    {
      "name": "OpenAI_GPT_3.5_Turbo",
      "api_key": "YOUR_OPENAI_API_KEY",
      "organization_id": "YOUR_OPENAI_ORG_ID",
      "model": "gpt-3.5-turbo",
      "tokenPrice": 0,
      "config": {
        "temperature": 1.0,
        "frequency_penalty": 0,
        "presence_penalty": 0,
        "max_tokens": 2048,
        "n": 1
      }
    }
  ],
  "notes": {
    "naming_convention": "Los nombres de los modelos deben comenzar con los siguientes prefijos según el proveedor:",
    "prefixes": {
      "OpenAI": "OpenAI_GPT",
      "Google": "Google_Generative",
      "Anthropic": "Anthropic",
      "Facebook": "Facebook_Llama"
    },
    "example": {
      "OpenAI": "OpenAI_GPT_4o_Mini",
      "Google": "Google_Generative_Flash",
      "Anthropic": "Anthropic_Claude",
      "Facebook": "Facebook_Llama"
    },
    
    "tokenPrice": "El precio ha de fijarse por Millon de tokens ya que es el estándar fijado",

    "info": "Este archivo define la configuración necesaria para cada modelo y proveedor. Asegúrate de usar las claves y IDs adecuados."
  }
}
